@model List<MemberViewModel>
@{
    ViewBag.Title = "InviteUserToHousehold";
}


<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Invite Users to Household</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <div class="card mb-3">
                <div class="card-header">
                    <table class="table table-striped table-fit" id="dataTable" cellspacing="-10">
                        <thead>
                            <tr>
                                <th scope="col">User Name</th>
                                <th scope="col">Email</th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td>@user.UserName</td>
                                    <td>@user.Email</td>

                                    <td>
                                        <form method="post" action="@Url.Action("InviteUserToHousehold", "Household", new {email = user.Email, userName = user.UserName})">
                                            <input type="submit" value="Invite" lass="btn-delete">
                                        </form>
                                    </td>
                                  
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>










